input[type='file'] {
    display: none;
}

.input {
    &_wrapper {
        height: 100%;
        position: relative;
        padding: 15px;
    }
    &_fileName {
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        width: 250px;
        white-space: nowrap;
        text-transform: lowercase;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover .input_delete {
            transition: opacity 0.3s;
            opacity: 1;
        }
    }
    &_fileName:hover {
        color: gray;
    }
    &_delete {
        opacity: 0;
        transition: opacity 0.3s;
        padding-left: 5px;
    }
    &_upload:hover {
        text-align: left;
        color: lightcoral;
    }
}